@font-face {
    font-family: 'IM Fell English';
    src: url(../fonts/IMFellEnglish-Regular.ttf);
}
@font-face {
    font-family: 'EB Garamond';
    src: url(../fonts/EBGaramond-VariableFont_wght.ttf)
}
@font-face {
    font-family: 'Bitscape';
    src: url(../fonts/bitscape.otf);
}
html
{
    background-color: rgb(69, 48, 23);
}
html,
body {
	border: none;
	margin: 0;
	padding: 0;
    /* background-color: rgb(69, 48, 23); */
    font-family: 'IM Fell English', serif;
    overscroll-behavior-y: none;
    -ms-overflow-style: none;
}
body
{
    background-color: bisque;
    color: rgb(43, 30, 15);
    padding: 0;
    width: 70vw;
    margin: auto;
}
.pageText
{
    font-size: 1.3331em;
}
p
{
    line-height: 1.25;
}
a
{
    cursor: pointer;
    color: rgb(43, 30, 15);
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
    text-decoration-thickness:1px;
    text-decoration-color: #a50202;
}
img
{
    border-radius: 4px;
}

/* HEADER */
.header
{
    background-color: rgb(69, 48, 23);
    display: flex;
    height: 10vh;
    color: bisque;
}
.navbar
{
    display: flex;
    margin: auto 1vw auto auto;
}
.site-title
{
    font-size: 3.5em;
    margin: auto 0 auto 1%;
    cursor: pointer;
    text-decoration: none;
    color: bisque;
}
.site-title:hover
{
    text-decoration: underline;
}
.connector
{
    font-size: 4em;
    margin: auto 1%;
}
.sub
{
    transform: translateY(0%);
    font-size: 1.75em;
    display: flex;
    margin: auto 0;
}
.navitem
{
    margin: 0 1vw;
    font-size: 1.25em;
    cursor: pointer;
    color: bisque;
    text-decoration: none;
}
.navitem:hover
{
    text-decoration: underline;
    text-decoration-thickness:1px;
}
.navitemGC {
    display: none;
}

/* FOOTER */
.footer
{
    /* background-color: rgb(43, 30, 15); */
    background-color: rgb(69, 48, 23);
    color: bisque;
    display: flex;
    position:relative;
    width: 70vw;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    height: 7vh;
    max-height: 7vh;
}
.footerText
{
    font-size: 1em;
}
.leftText
{
    margin: auto 0% auto 1%;
}
.rightText
{
    margin: auto 1% auto 0;
}

/* CONTENT */
.title-page
{
    height: 90vh;
}
.entries
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2% auto 2% auto;
    width: 65vw;
}
.entry
{
    text-align: center;
    background-color: bisque;
    margin: 2% auto 2% auto;
    width: 25vw;
}
.projImg
{
    height: 30vh;
    width: 25vw;
    object-fit: cover;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    /* border: 5px ridge rgb(255, 221, 177); */
    /* border: solid 2px rgb(69, 48, 23); */
}
.white-img {
    border: solid 2px rgb(43, 30, 15);
}
.entry-gc
{
    text-align: center;
    background-color: bisque;
    margin: 1% auto 1% auto;
    width: 50vw;
}
.projImgGC
{
    width: 50vw;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    /* border: solid 2px rgb(69, 48, 23); */
}
.projImg:hover .projHeader
{
    text-decoration: underline;
    text-decoration-color:#a50202;
}
.projHeader
{
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin: 2% auto;
    text-decoration: none;
    text-decoration-color:#a50202; 
}
.projHero {
    font-size: 1.5em;
}
.projHeaderRed,a {
    text-decoration-color: #a50202;
}
.projHeaderRed:hover {
    color:#a50202;
}
.featured-project-a {
    text-decoration-color: #a50202;
}
/* .projHeader:hover{
    text-decoration-color:#a50202;
} */
.pageWrapper
{
    margin: 1% auto 2% auto;
    min-height: 73vh;
}
.audioEssay-visual
{
    width: 30%;
    margin: 2% auto;
}
.subjectText
{
    text-indent: 4%;
    margin: auto 10%;
}
.musicScore-div
{
    width: 100%;
    margin: 2% auto;
}
.musicScore
{
    height: 60vh;
    width: 60vw;

    margin: 0 20vw;
}
.missal-div
{
    margin: 1% auto;
    width: 60vw;
}
.missalWhole
{
    width: 60vw;
    margin: 0 0 10vh 0;
}
.href
{
    display: block;
    margin: 0 auto;
    color: #a50202;
}

/* INDEX.HTML */
.img-anchor
{
    max-width: 50%;
}
/* #chant-img
{
    display: block;
    max-width: 50%;
    margin: 2% auto;
} */
.img-href
{
    display: block;
    max-width: 50%;
    margin: 2% auto;
}
.red-span
{
    color: #a50202;
}
#cpu-gc-title:hover
{
    text-decoration: underline;
}
#me
{
    display: flex;
    min-height: 83vh;
    max-width: 100vw;
}
#me-text
{
    font-size: 1.3rem;
    width: 60vw;
    margin: 4% 2% 0 3%;
}
#me-img
{
    display: block;
    margin: auto 4% auto 0;
}
#portrait
{
    height:75vh;
    margin-top: 2vh;
    float: right;
    /* border-radius: 10px; */
    border-radius: 10px;
    /* border: solid 4px rgb(69, 48, 23); */
}
#guitar-text
{
    font-size: 1.3rem;
    width: 60vw;
    margin: 4% 0% 0 3%;
}
/* .guitar-text {
    transform:translateY(-2vh);
} */
p {
    margin:1vh;
}
#guitar-imgs
{
    display: flex;
    justify-content: center;

    margin: 0 0% 0 0;
}
.current-guitar-img
{
    height:75vh;
    margin: 2vh 1vw auto 1vw;
    float: right;
}
#hover-zoom {
    position: absolute;
    align-self: end;
    margin-bottom: 4vh;
    color:black;
    opacity: .7;
    z-index: 1;
    pointer-events: none;
}
.zoom-span {
    z-index: 0;
}
#date {
    font-size: 1.3em;
}
.return-to-projects {
    margin-top: 3vh;
    padding-top:4vh;
    border-top: solid 1.5px rgb(69, 48, 23);
}
.entry:hover a {
    text-decoration: underline;
    text-decoration-color:#a50202;
    color:#a50202;
    text-decoration-thickness:1px;
}

/* RESPONSIVE */
@media only screen and (max-width: 1500px)
{
    body {
        width: 100vw;
    }
    .footer {
        width: 100vw;
    }
    .current-guitar-img {
        margin-right: 4vw;
    }
    .entries {
        grid-template-columns: repeat(3, 1fr);
        width: 100vw;
    }
    .entry {
        width: 30vw;
    }
    .projImg {
        height: 30vh;
    }
}
@media only screen and (max-width: 800px)
{
    body{
        max-width: 100vw;
    }
    .header {
        height: 6vh;
    }
    .footer {
        height: 6vh;
        max-height: 6vh;
        width: 100vw;
        text-align: center;
    }
    .site-title
    {
        display: none;
        font-size: 2em;
        margin-left: 2vw;
    }
    .connector
    {
        display: none;
        font-size: 1em;
    }
    .sub
    {
        display: none;
    }
    .nav-item
    {
        font-size: 1em;
        margin: 0 1vw;
    }
    #me
    {
        flex-direction: column;
    }
    #me-text
    {
        width: 90vw;
    }
    .projHeader
    {
        font-size: 1.5em;
    }
    /* .projImg
    {
    } */
    #me-img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3vh;
    }
    #portrait
    {
        float: none;
        height: 110vw;
    }
    .leftText
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .rightText
    {
        display: none;
    }
    .guitar-text {
        transform:translateY(0vh);
        width: 100vw;
    }
    .guitar-text,p {
        margin:0vh;
        width: 95vw;
    }
    #guitar-imgs {
        margin: auto;
    }
    .current-guitar-img
    {
        height:120vw;
        margin: 0 2vw 0 2vw;
        float: none;
    }
    /* #front-guitar
    {
        transform: rotate(2deg);
    }
    #back-guitar
    {
        transform: rotate(1deg);
    } */
    #date {
        font-size: 1.3em;
    }
    #documentation {
        width: 90vw;
    }
    .subjectText {
        width: 90vw;
        margin: 0;
    }
    .img-href {
        margin: 0 auto;
    }
    .pageWrapper {
        width: 90vw;
    }
    .entry {
        width: 90vw;
    }
    .entry-gc
    {
        width: 90vw;
    }
    .entries
    {
        display: block;
        margin: 2% auto 2% auto;
        width: 100vw;
    }
    .entry
    {
        text-align: center;
        background-color: bisque;
        margin: 2% auto 4% auto;
        width: 90vw;
    }
    .projImg
    {
        height: auto;
        width: 90vw;
        max-width: 90vw;
        margin: 0 auto;
        object-fit: fill;
    }
    .entry-gc
    {
        text-align: center;
        background-color: bisque;
        margin: 2% auto 1% auto;
        width: 90vw;
    }
    .projImgGC
    {
        width: 90vw;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }
    .projHeader {
        width: 80vw;
    }
    .subjectText {
        margin: 0 auto;
    }
    .navbar
    {
        margin: auto 2vw auto auto;
        width: 100vw
    }
    .navitem
    {
        text-align: center;
        margin: auto auto;
    }
    .missal-div {
        width: 100%;
    }
    .missalWhole {
        width: 90%;
        margin: 0 auto;
        display: block;
    }
    .pageText {
        width: 100%;
        margin: 0;
    }
    .musicScore {
        margin: 0;
        width: 100%;
    }
    #guitar-imgs
    {
        max-width: 100vw;
    }
    #hover-zoom {
        display: none;
    }
    a:hover
    {
        text-decoration: none;
    }
    .navitemGC {
        display:f none;
    }
  }